<ROOT_URL>https://viajarhomestays.com</ROOT_URL><CLIENT_EMAIL></CLIENT_EMAIL><LICENSE_CODE>TVUY-7AFY-WXS8-HNM3</LICENSE_CODE><LCD>Z0tnVkpDSVhobkZuc3JqNExuRFRGUT09Ojo/glBD2I/qhaCgCuPzdOjY</LCD><LRD>cTNLL1lONE1IWG1GZlBjdlJmZFVtUT09OjqnJEzVn1GEzdN3wENyi9tE</LRD><INSTALLATION_KEY>YUxMNlVtRkhXRTZRb1AvRE5jeElhd0FUblo1Y1A2M0YyWlQwODRFMEc1YUI3R0tGakpBVk9zNGEzZVdncEEvUklEZXcyMHAzSVZoaFhlMC8vVjFIUkE9PTo68AYAi7PMYoduuYpCXANBfg==</INSTALLATION_KEY><INSTALLATION_HASH>72b45c817a817ec538c75807a2c55202c8af21b56ec4e055a0f2cfc8f40b4a42</INSTALLATION_HASH>